@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cont_width{
  width:min(400px, 100% - 2rem);
  margin:0 auto;
}

.main_container{
  height: calc(100vh - 77px);
}
._container{
  height: 100%;
}
.user_item{
  height: calc(100vh - calc(77.35px + 65.6px));
  overflow-y: auto;
}
.side_bar{
  height: calc(100vh - 77px);
}

/* user scroll bar light mode */
::-webkit-scrollbar {
  width: 5px;
}
.light::-webkit-scrollbar-track {
  background:#B7E0CA;
}
.light.user_item::-webkit-scrollbar-thumb{
  background-color: #B7E0CA;
}
.light.user_item:hover::-webkit-scrollbar-thumb{
  background-color: #a7a6a6;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 200rem;
}



/* user scroll Bar dark mode */

.dark::-webkit-scrollbar-track {
  background:#0F0F04;
}
.dark.user_item::-webkit-scrollbar-thumb{
  background-color: #0F0F04;
}
.dark.user_item:hover::-webkit-scrollbar-thumb{
  background-color: #eafaf0;
}

.online_contacts::-webkit-scrollbar-track {
  background:transparent;
}
.online_contacts::-webkit-scrollbar-thumb{
  background-color: transparent;
}
.online_contacts:hover::-webkit-scrollbar-thumb{
  background-color: #a7a6a6;
}

.online_contacts .dark::-webkit-scrollbar-track {
  background:#0F0F04;
}
.online_contacts .dark::-webkit-scrollbar-thumb{
  background-color: #0F0F04;
}
.online_contacts.dark:hover::-webkit-scrollbar-thumb{
  background-color: #12e061;
}

.cont_width {
  width: min(400px, 100% - 2rem);
  margin: 0 auto;
}

.chat_interface {
  width: calc(100% - 2rem);
  margin: 0rem auto;
  position: relative;
  /* min-height: 100vh;
  min-height: 100dvh; */
  overflow: hidden;
  isolation: isolate;
}
.phoenix {
  position: absolute;
  width: 100vh;
  height: auto;
  transform: rotate(13deg);
 bottom: -20%;
 right: -20%;
  opacity: 0.125;
  z-index: -1;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #d4d4d4; */
  margin: 1rem 0;

  border-radius: 0.5em;
  padding: 0.75rem 1rem;
  gap: 1rem;
}

.user_img {
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
._img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.name {
  font-weight: 700;
  font-size: 1.5rem;
}
.options {
  margin-left: auto;
  margin-right: 1rem;
}

/* chats */

.chats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chat {
  --padding: 0.5rem;
  display: flex;
  min-height: 2.5rem;
  align-items: center;
  border-radius: 0.25em;
  padding: var(--padding);
  padding-bottom: 1.25rem;
  max-width: 48%;
  position: relative;
}
.left_chat {
  /* background-color: #eae9e9; */
  align-self: flex-start;
}
.right_chat {
  /* background-color: #b7e0ca; */
  margin-left: auto;
}
.message {
  margin-right: 1rem;
}

.time_ {
  font-size: 0.75rem;
}
.extra {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0.5rem;
  gap: 0.25rem;
}
.tick {
}
.tick_img {
  width: 1.15rem;
}


.whole_interface{
  display: grid;
  grid-template-columns: 1fr auto;
}

.shortcutbar{
  width: 4.25vw;
  height: calc(100vh - 77px);
  /* background-color: white; */
  display: grid;
  grid-template-rows: 1fr 1fr auto;
}
.emojis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
  margin:1rem 0 0 0;
}
.more_icon{
  width: 1.125em;
  aspect-ratio: 1/1;
  margin:1rem auto;
}
.online_contacts{
  display: flex;
  flex-direction: column;
  gap:1rem;
  overflow-y: auto;
  padding-top:1rem;
}
.online_img{
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin:0 auto;
  outline:2px solid #12FF2A;
}
.chat_container{
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}


.navbar_{
  grid-column: 1/span 2;
}

.chats{
  grid-column: 1;
  grid-row: 2;
  overflow-y: auto;
}

.chatbox{
 position: absolute;
  bottom: 2rem;
  width:100%;
  background-color: white;
}

.emoji_picker{
  height: 10px;
}

